.table-container {
    overflow-x: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.table th,
.table td {
    padding: 8px;
    border: 1px solid #ddd;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    white-space: nowrap;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #ddd;
}

.input-file {
    display: none;
}

.input-file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1c7d66;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.input-file-label:hover {
    background-color: #145949;
}

.download-link {
    color: #0000EE;
    text-decoration: underline;
    cursor: pointer;
}

.download-link:hover {
    text-decoration: underline;
}
